.cardFooterContainer{
    background-color: #1d2b49;
    height: auto;
    width: max-content;
    padding: 2px;
    border-radius: 4px;
    font-size: 19px;
    color:white;
}

.cardFooterContainer:hover{
    background-color: rgb(7, 30, 99);
   color: #1d2b49;
    cursor: pointer;
}

.cardTitle{
    font-size: 20px;
    font-weight: 600;
    color: white;
}




.cardText{
    font-size: 15px;
    font-weight: 400;
    color: white;
}

