.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #1d2b49;
    color: white;
    padding: 0 2rem;
}

.footerCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 1rem;
}
.footerBottomContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1d2b49;
    color: white;
    padding: 0 2rem;
}

.footerBottomText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.footerText{
    font-size: 30px;
    font-weight: 400;
}

.footerText:hover{
    text-decoration: underline;
}
.footerBottomLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Icon {
  font-size: 1.4rem;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
  padding-left: 10px;
}

.Icon:hover {
  transform: scale(1.2);
}