body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.welcomeScreenContainer{
    display: flex;
    flex-direction: column;

}

.navBarContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #282c34;
    color: white;
    padding: 0 2rem;
}

.navbarUpperContainer{
    position: fixed;
    width: 100%;
}

.logo{
    height: 8vh;
    pointer-events: none;
}
.navbarLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #282c34;
    color: white;
    padding: 0 2rem;
}

.navbarMiddle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 0 2rem;
}

.navbarRight{
    margin-right: 70px;
}

.mainPageContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    background-color: #0854ec;
    color: white;
    padding: 0 2rem;
}



.navbarMiddle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    height: 10vh;
    background-color: #282c34;
    color: white;
    padding: 0 2rem;
}

.dropDown{
    float: left;
    overflow: visible;
    margin: 7px;
}

.dropDown:hover{
    cursor: pointer;
    color: #0854ec;
}


